<%= form_for(@site) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>