<!DOCTYPE html>
<html>
<head>
  <title>MobileSms</title>
  <%= stylesheet_link_tag    'mobile', media: 'all' %>
  <%= javascript_include_tag 'mobile' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>